/* main styles for college consultant */

@font-face:
{
  font-family: 'College';
  src: url('/static/css/fonts/college.ttf');
}

@font-face:
{
  font-family: 'Angsa';
  src: url('/static/css/fonts/Angsa.ttf');
}

header
{
  font-family: Angsa;
  font-size: 100px;
  text-align: center;
}

#about_us
{
  background-color: ;
}

h1
{
  font-family: ;
  font-size: 30px;
  text-align: align-left;
  color: ;
}

body
{
  background-color: #5FC0CE;
  background-repeat: no-repeat;
  background-position: center 300px;
}

links
{
  font-family: "Angsa";
  font-color: black;
  display: inline block;
}

#mapdiv
{
  width: 800px;
  height: 600px;
  padding: 10px;
}

#logo img
{
  float:left;
}

#links
{
  text-align:left;
  font-size: 18px;
  height: auto;
  margin: 0px 0px 0px 0px;
  background-color: #FFFFFF;
  opacity: 0.5;
  
}

#links a:link, a:visited
{
  text-align:left;
  text-decoration: none; 
  font-size: 20px;
  height: auto;
  margin: auto;
  font-family: Papyrus;
  font-weight: bold;
  color: #0A0A2A;
  padding: 0 1em;
  
}

#links a:hover 
{
  text-decoration: none; 
  color: #0080FF;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 20px;
}


#home_map img
{
  display: inline;
  margin: 30px 20px 5px 55px;
  padding: 0px;
  clear: left;
  width: 700px;
}

#home_quote
{
  text-align: center;
  width: 100%;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 20px;
}
