/* main styles for college consultant */

@font-face:
{
  font-family:"College";
  src: url(static/css/fonts/college.ttf);
}


body
{
  background-color: #5FC0CE;
  background-repeat: no-repeat;
  background-position: center 300px;
}




