<form action="file:///C:/Users/Kimberly/Documents/GitHub/college-consultant/consultant/consultant/templates/about_me.html">
    
    <fieldset>
        <legend>Names:</legend>
        <label>Bio Name: <input type="text" name="name" placeholder="Enter Name"/></label>
    </fieldset>
    
    <fieldset>
        <legend>School Attended:</legend>
        <label>Name of School: <input type="text" name="name" placeholder="Enter School Name."/></label>
    </fieldset>    
    
    <fieldset>
        <legend>Bio Info:</legend>
        <label>Bio: <input type="text" name="name" placeholder="Enter short biography."/></label>
    </fieldset>    
    
</form>