{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}


{% block body %}


<h1> About The College Consultants </h1>

<h2> Name: Stephanie Sirico </h2>
<h3> Hometown: Shoreham-Wading River, NY </h3>

<p> Stephanie Sirico was born and raised on Long Island with full intention of staying on the island for college. Stephanie attended C.W. Post University in Nassau where she obtained a Bachelors of Science. Stephanie Sirico is a high school health and physical education teacher currently coaching softball and gymnastics.  Stephanie is currently finishing her Masters Degree in Educational Technology at Adelphi University.  </p>

<img src="images/steph.jpg" alt="Stephs Bio">

<h2> Name: Erin Flynn </h2>
<h3> Hometown: Williston Park, NY </h3> 

<p> Erin was raised on Long Island but left her hometown to go to college out of state. After graduating Our Lady of Mercy Academy in Syosset, Erin went The Catholic University of America in Washington DC. She obtained a Bachelor of Arts in Theology and Religious Studies and a Certificate in Pastoral Ministry. Erin is now working on her Masters Degree in Educational Technology from Adelphi University, Garden City. Currently, she is a high school religion teacher at an all girls Catholic High School in Queens, New York.  </p>

<img src="images/pic.jpg" alt="description">


<h2> Name: Cara Rudolfsky </h2>
<h3> Hometown: Lynbrook, NY </h3>

<p> Graduated from Molloy College with a Bachelor’s Degree in Adolescent Mathematics/Special Education. Is currently attending Adelphi University and working toward a Master’s Degree in Educational Technology K-12.Cara teaches Integrated Algebra at The Renaissance Charter High School for Innovation in East Harlem, NY.  She also tutors for the SAT exam during her free time.  When Cara is not working she enjoys spending time with friends and watching old movies.</p> 

<img src="images/cara.png" alt="Caras Bio Picture">


<h2> Name: Kimberly Thompson </h2>
<h3> Hometown: Levittown, NY </h3>

<p>Born and raised on Long Island, Kimberly Thompson is a graduate of General Douglas 
MacArthur High School in Levittown. In 2012, she received her Bachelor’s Degree in 
Adolescent Education/Special Education and Mathematics from Molloy College. In the fall of 2013, Kimberly began working for the Amityville Union Free School District. She is currently working towards her Master’s Degree in Educational Technology at Adelphi University. Her favorite leisure activities include softball, beach volleyball, and playing guitar.
</p>

<img src="images/kim.jpg" alt="Kims Bio Picture">

<h2> Name: Miheliwan Aishamuding </h2>
<h3> Hometown: Urumqi, China </h3>

<p> Miheliwan Aishamuding is a Uyghur from China. In 2009, She graduated from Xinjiang University with a Bachelor's degree in English Literature in general. She was employed by Xinjiang Television Station in Urumqi city in 2010, and worked as a news translator, editor and journalist. In the fall of 2013, she started to pursue her Master's Degree in Educational Technology at Adelphi university. In her leisure time, she enjoys spending time with her family and friends. Miheliwan's favorite activites are hiking, playing bedminton and watching movie!</p>

<img src="images/pic.jpg" alt="description">

<h2> Name: Taryne Cahalin </h2>
<h3> Hometown: Lindenhurst, NY </h3>

<p></p> 

<img src="images/pic.jpg" alt="description">

{% endblock %}
