<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}the title{% endblock %}</title>
    <meta charset="utf-8" />
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
<script src="/static/ammap/ammap.js" type="text/javascript"></script>

<script src="/static/ammap/maps/js/usaLow.js" type="text/javascript"></script>
    </head>
<body id="{% block body_id %}{% endblock %}">

<section id="logo">
<img src="/static/images/college_logo.png" alt="Site Logo">
</section>

<a name="top"></a> 
<nav id = "links">
    <a href= "/home">Home</a>
    <a href= "/school_survey">College Search</a>
    <a href= "/common_myths">Common Myths</a>
    <a href= "/about_us">About Us</a>
    <a href= "/contact_us">Contact Us</a>
    <a href="/new_college">Enter a New College</a>
</nav>


    {% block body %}the body goes here{% endblock %}
    
<a href="#top">TOP OF PAGE</a>   
 
</body>

</html>
