<form action="file:///C:/Users/Kimberly/Documents/GitHub/college-consultant/consultant/consultant/templates/facts.html">
    
    <fieldset>
        <legend>Common Myths:</legend>
        <label>Enter Myths: <input type="text" name="myths" placeholder="Myths"/></label>
    </fieldset>
    
    <fieldset>
        <legend>Myth: True or False?:</legend>
            <br/>
            <input id="true" type="radio" name="myth"
                value="true">
            <label for="true">True</label>
            <input id="false" type="radio" name="myth"
                value="false">
            <label for="false">False</label>
    </fieldset>
</form>
