{% extends "base.html" %}

{% block body %}
<div id="admin_school_survey">
<form action="/save_school" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>School:</legend>
        <label>Name of School: <input type="text" name="name" placeholder="Name of School"/></label>
    </fieldset>
    
    <fieldset>
        <legend>Length of Study:</legend>
            <br/>
            <input id="four_year" type="radio" name="is_four_year"
                value="True">
            <label for="four_year">Four Year</label>
            <input id="two_year" type="radio" name="is_four_year"
                value="False">
            <label for="two_year">Two Year</label>
    </fieldset>
    
    <fieldset>
        <legend>Type of School:</legend>
            <br/>
            <input id="public" type="radio" name="is_public"
                value="True">
            <label for="public">Public</label>
            <input id="private" type="radio" name="is_public"
                value="False">
            <label for="private">Private</label>
    </fieldset>
     
    <fieldset>
        <legend>School Size:</legend>
        <label>Size of School: <input type="text" name="school_size" placeholder="Enter Size"/></label>
    </fieldset>
  
    <fieldset>
        <legend>Gender of School:</legend>
        <label>{{school.school_gender}}</label>
    </fieldset>
     
    <fieldset>
        <legend>Campus:</legend>
            <p>Residential or Commuter?:</p>
            <input id="residential" type="radio" name="is_residential"
                value="True">
            <label for="residential">Residential</label>
            <input id="commuter" type="radio" name="is_residential"
                value="False">
            <label for="commuter">Commuter</label>
    </fieldset>
    
    <fieldset>
        <legend>Campus Location:</legend>
            <br/>
            <input id="rural" type="radio" name="location_type"
                value="1">
            <label for="rural">Rural</label>
            <input id="suburban" type="radio" name="location_type"
                value="2">
            <label for="suburban">Suburban</label>
            <input id="urban" type="radio" name="location_type"
                value="3">
            <label for="urban">Urban</label>
    </fieldset>
    
    <fieldset>
        <legend>Location of School:</legend>
        <label>State: {{school.location_state}}</label>
    </fieldset>
    
    <fieldset>
        <legend>Majors:</legend>
            <p>Choose all Majors that Apply:</p>
                    <span> <input type="checkbox" name="majors"
                        value="11" /> Accounting /<span>
                    <span><input type="checkbox" name="majors"
                        value="1" /> Biology/Biotechnology </span>
                    <span><input type="checkbox" name="majors"
                        value="2" /> Business </span>
                    <span><input type="checkbox" name="majors"
                        value="3" /> Communication/Journalism </span>
                    <span><input type="checkbox" name="majors"
                        value="4" /> Computer Science/Computer Technology </span>
                    <span><input type="checkbox" name="majors"
                        value="5" /> Criminal Justice </span>
                    <span><input type="checkbox" name="majors"
                        value="6" /> Education </span>
                    <span> <input type="checkbox" name="majors"
                        value="7" /> Marketing </span>
                    <span><input type="checkbox" name="majors"
                        value="8" /> Nursing </span>
                    <span><input type="checkbox" name="majors"
                        value="9" /> Political Science/Sociology </span>
                    <input type="checkbox" name="majors"
                        value="10" /> Psychology/Counseling </span>
                </select>
                
<fieldset>
        <legend>Sports:</legend>
                    <span><input type="checkbox" name="sports"
                        value="1" /> Baseball </span>
                    <span><input type="checkbox" name="sports"
                        value="2" /> Basketball </span>
                    <span> <input type="checkbox" name="sports"
                        value="3" /> Bowling </span>
                    <span> <input type="checkbox" name="sports"
                        value="4" /> Cross Country </span>
                    <span> <input type="checkbox" name="sports"
                        value="5" /> Fencing </span>
                    <span> <input type="checkbox" name="sports"
                        value="6" /> Field Hockey </span>
                    <span> <input type="checkbox" name="sports"
                        value="7" /> Golf </span>
                    <span><input type="checkbox" name="sports"
                        value="8" /> Gymnastics </span>
                    <span><input type="checkbox" name="sports"
                        value="9" /> Ice Hockey </span>
                    <span><input type="checkbox" name="sports"
                        value="10" /> Lacrosse </span>
                    <span><input type="checkbox" name="sports"
                        value="11" /> Rowing </span>
                    <span><input type="checkbox" name="sports"
                        value="7" /> Soccer </span>
                    <span><input type="checkbox" name="sports"
                        value="8" /> Softball </span>
                    <span><input type="checkbox" name="sports"
                        value="9" /> Swimming </span>
                    <span><input type="checkbox" name="sports"
                        value="10" /> Tennis </span>
                    <span><input type="checkbox" name="sports"
                        value="11" /> Track & Field </span>
                    <span><input type="checkbox" name="sports"
                        value="10" /> Volleyball </span>
                    <span><input type="checkbox" name="sports"
                        value="11" /> Wrestling </span>
                </select>

    <br/> 
    <br/>
    <input type="submit" value="Submit">
</form>
<table id="school_table">
<thead>
    <tr>
        <th>School</th>
        <th>Two Year or Four Year?</th>
        <th>Public/Private</th>
        <th>Size</th>
        <th>Gender</th>
        <th>Residential</th>
        <th>Location Type</th>
        <th>State</th>
        <th>Majors</th>
        <th>Sports</th>
    </tr>
    </thead><tbody>
        {% for school in schools %}
            <tr>
                <td>{{school.name}}</td>
                <td>{% if school.is_four_year %}
                    Four Year
                  {% else %}
                    Two Year
                  {% endif %}
                </td>
                <td>{% if school.is_public %}
                    Public 
                  {% else %}
                    Private
                  {% endif %}
                </td>
                <td>{{school.school_size}}</td>
                <td>{% if school.school_gender == 1 %}
                    Co-ed
                  {% elif school.school_gender == 2 %}
                    All Girls
                  {% elif school.school_gender == 3 %}
                    All Boys
                  {% endif %}
                </td>
                <td>
                  {% if school.is_residential %}
                    Residential
                  {% else %}
                    Commuter
                  {% endif %}
                </td>
                <td>{% if school.location_type == 1 %}
                    Rural
                  {% elif school.location_type == 2 %}
                    Urban
                  {% elif school.location_type == 3 %}
                    Suburban
                  {% endif %}
                </td>
                <td>{{school.location_state}}</td>      
                <td>
                  {% for major in school.majors.all %}
                    {{major.name}}<br>
                  {% endfor %}
                </td>
                <td>
                  {% for sport in school.sports.all %}
                    {{sport.name}}<br>
                  {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}
