{% extends "base.html" %}

{% block body %}

<div id= "school_survey">
<form action="/search" method="POST">
    {% csrf_token %}

    
    <fieldset>
        <legend>Length of Study:</legend>
            <br/>
            <input id="four_year" type="radio" name="is_four_year"
                value="1">
            <label for="four_year">Four Year</label>
            <input id="two_year" type="radio" name="is_four_year"
                value="2">
            <label for="two_year">Two Year</label>
            <input id="both" type="radio" name="is_four_year"
                value="3">
            <label for="dont_care">Don't Care</label>
    </fieldset>
    
    <fieldset>
        <legend>Type of School:</legend>
            <br/>
            <input id="public" type="radio" name="is_public"
                value="1">
            <label for="public">Public</label>
            <input id="private" type="radio" name="is_public"
                value="2">
            <label for="private">Private</label>
            <input id="both" type="radio" name="is_public"
                value="3">
            <label for="both">Don't Care</label>     
    </fieldset>
    
    <fieldset>
        <legend>School Size:</legend>
            <br/>
            <input id="less_2000" type="radio" name="school_size"
                value="1">
            <label for="less_2000">Less Than 2,000</label>
            <input id="between" type="radio" name="school_size"
                value="2">
            <label for="between">2,000-15,000</label>
            <input id="greater_15000" type="radio" name="school_size"
                value="3">
            <label for="greater_15000">> 15,000</label>
    </fieldset>
    
    <fieldset>
        <legend>Gender:</legend>
            <br/>
            {{school.school_gender}}
    </fieldset>
    
    <fieldset>
        <legend>Location:</legend>
        <label>State: {{school.location_state}}</label>
    </fieldset>
    
    <fieldset>
        <legend>Campus:</legend>
            <br/>
            <input type="checkbox" name="campus"
                value="rural" /> Rural
            <input type="checkbox" name="campus"
                value="suburban" /> Suburban
            <input type="checkbox" name="campus"
                value="urban" /> Urban
            <input type="checkbox" name="campus"
                value="residential" /> Residential
            <input type="checkbox" name="campus"
                value="commuter" /> Commuter
    </fieldset>
    
    <fieldset>
        <legend>Majors and Learning Environment:</legend>
            <p>Major:</p>
                <select name="major">
                    <option value="accounting">Accounting</option>
                    <option value="bio/biotech">Biology/Biotechnology</option>
                    <option value="business">Business</option>
                    <option value="comm/journal">Communication/Journalism</option>
                    <option value="compsci/comptech">Computer Science/Computer Technology</option>
                    <option value="criminal_justice">Criminal Justice</option>
                    <option value="education">Education</option>
                    <option value="marketing">Marketing</option>
                    <option value="nursing">Nursing</option>
                    <option value="polysci/socio">Political Science/Sociology</option>
                    <option value="psych/couns">Psychology/Counseling</option>
                </select>
    </fieldset>
    
    <fieldset>
        <legend>Sports and Activities:</legend>
            <p>Sports:</p>
                <select name="sports">
                    <option value="baseball">Baseball</option>
                    <option value="basketball">Basketball</option>
                    <option value="bowling">Bowling</option>
                    <option value="cross_country">Cross Country</option>
                    <option value="fencing">Fencing</option>
                    <option value="field_hockey">Field Hockey</option>
                    <option value="football">Football</option>
                    <option value="golf">Golf</option>
                    <option value="gymnastics">Gymnastics</option>
                    <option value="ice_hockey">Ice Hockey</option>
                    <option value="lacrosse">Lacrosse</option>
                    <option value="rowing">Rowing/Crew</option>
                    <option value="soccer">Soccer</option>
                    <option value="softball">Softball</option>
                    <option value="swimming">Swimming</option>
                    <option value="tennis">Tennis</option>
                    <option value="track_field">Track & Field</option>
                    <option value="volleyball">Volleyball</option>
                    <option value="wrestling">Wrestling</option>
                </select>            
        
        <br>
        <br>
        <input type="submit" value="Search">
</form>

<br>
<br>

{% endblock %}

